.account-wrapp {
	width: 691px;
	box-sizing: border-box;
	background-color: #ffffff;
	margin-top: 50px;
	padding: 30px 45px 34px 45px;
	border-radius: 40px 0px 0px 0px;
	display: flex;
	flex-flow: column nowrap;
}

.account-wrapp a {
	text-decoration: none;
	color: #262626;
}

.account-wrapp p {
	font-size: 18px;
	line-height: 27px;
	color: #b5b5b5;
	margin-bottom: 10px;
}

.balance-wrapp {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 18px;
}

.balance-wrapp h2 {
	font-size: 64px;
	line-height: 96px;
	letter-spacing: 0.374px;
	color: #262626;
}

.balance-wrapp > a {
	width: 135px;
	height: 70px;
	border: 1px solid #fd3a6c;
	box-sizing: border-box;
	border-radius: 20px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.balance-wrapp a > span {
	font-size: 14px;
	color: #fd3a6c;
}

.quick-transition-wrapp {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 96px;
}
.quick-transition-wrapp a {
	margin-right: 20px;
}
.send-money {
	width: 110px;
	height: 140px;
	background: #ffffff;
	border: 1px solid #fd3a6c;
	box-sizing: border-box;
	border-radius: 30px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	padding: 35px 30px 19px 30px;
}

.send-money img {
	width: 27px;
	height: 30px;
	margin-bottom: 18px;
}

.send-money span {
	font-size: 14px;
	line-height: 120%;
	text-align: center;
	letter-spacing: 0.374px;
	color: #fd3a6c;
}

.send-toContact {
	width: 110px;
	height: 140px;
	background: #f8f8f8;
	border-radius: 30px;
	box-sizing: border-box;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	padding: 17px 0 17px 0;
}

.send-toContact img {
	width: 70px;
	height: 70px;
	margin-bottom: 16px;
}

.send-toContact span {
	font-size: 14px;
	line-height: 21px;
}

.account-info-section {
	border: 1px solid #b5b5b5;
	border-radius: 30px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin-bottom: 26px;
}

.account-info-section div:first-child {
	border-bottom: 1px solid #b5b5b5;
}

.account-info-section > div {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 26px 32px 26px 27px;
}

.account-info-section img {
	width: 24px;
	height: 24px;
	margin-right: 8px;
}

.account-info-section span {
	font-size: 18px;
	line-height: 24px;
	color: #b5b5b5;
}

.account-info-section span:last-child {
	font-weight: 500;
	color: #262626;
	margin-left: auto;
}

.account-info-share {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.account-info-share span {
	margin-left: 29px;
}

.account-info-share div {
	width: max-content;
	height: 24px;
	margin-left: auto;
}

.account-info-share a {
	width: 24px;
	height: 24px;
	margin-left: 8px;
}

.account-info-share img {
	margin-right: 0;
	vertical-align: middle;
}
