.send-money-page {
	width: 1227px;
	box-sizing: border-box;
	display: flex;
	flex-flow: row nowrap;
}

.title {
	padding: 50px 0 30px 33px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.title h2 {
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.374px;
	margin-left: 9px;
}

.send-money-form {
	position: absolute;
	left: 750px;
	top: 390px;
	width: 630px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.send-money-form img {
	width: 15px;
	height: 17px;
}

.send-money-form span {
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.374px;
	margin-left: 13px;
}
